<html lang="en" ng-app='myApp'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="view/css/index.css">
    <link rel="stylesheet" href="view/css/general.css">
    <link rel="stylesheet" href="view/css/historial.css">
    <link rel="stylesheet" href="view/css/modalEditPerfil.css">
    <link rel="icon" href="view/images/icon.png">
    <title>Mi Historial</title>
    <link rel="shortcut icon" href="view/images/icon.png">
</head>

<body>

    <!-- nav -->
    <div id="navbar" ng-include="'navbar.html'"></div>

    <!--Editar Perfil-->
    <div ng-controller="miControlador" >
        <div class="modal-body" >
            <div class="container contenedor">
                    <div class="col-12 col-md-6 datosPerfil" ng-init="inactive=true">
                        <div class="">
                            <input type="text" ng-disabled="inactive" class="form-control datoPaciente" id="nombre" placeholder="{{paciente.nombre}}">
                            <input type="text" ng-disabled="inactive" class="form-control datoPaciente" id="apellido" placeholder="{{paciente.apellido}}">
                            <input type="text" disabled class="form-control datoPaciente" id="edad" placeholder="{{paciente.fecha}}">
                        </div>
                        <div class="botones">
                            <div class="container">
                                <div class="row">
                                    <button type="button" class="btn btn-danger col-4 botonPerfil1" ng-click="inactive = !inactive">Editar Perfil</button>
                                    <button type="button" class="btn btn-danger col-4 botonPerfil1" ng-click="verHistorial()">Ver Historial</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-12 col-md-6">
                    <!-- imagen del usuario -->
                    <img src="uploads/{{paciente.foto}}" class="img-thumbnail" id="fotoPerfil">
                    <div class="botonesFoto">
                        <input class="form-control" type="file" id="fotoInsertar" ng-value="{{paciente.foto}}">
                        <br>
                        <button type="button" id="btnEnviar" class="btn btn-danger botonPerfil" onclick="execUpdate()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

    <!--Seccion Central-->
    <div class="container" ng-show='ver == "si"'>
        <div class="seccionCentral col-12">
            <table>
                <tr>
                    <th>Tipo Vacuna</th>
                    <th>Numero de Dosis</th>
                    <th>Fecha De La Dosis</th>
                </tr>
                <tr ng-repeat="item in lista">
                    <td>{{item.Tipo_vacuna}}</td>
                    <td>{{item.Num_Dosis}}</td>
                    <td>{{item.Fecha}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

    <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg></button>

    <!-- footer -->
    <footer id="footer" class="bg-light2" ng-include="'footer.html'"></footer>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
    <script src="view/js/index.js"></script>
    <script src="view/js/general.js"></script>
    <script src="view/js/historial.js"></script>
</body>

</html>