<html lang="en">

<link rel="stylesheet" href="view/css/modalEditPerfil.css">
<link rel="stylesheet" href="view/css/panelAdmin.css">

<nav class="navbar fw-bold navbar-expand-lg navbar-light bg-light2 p-2 ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions"
            aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo -->
        <a class="navbar-brand " href="index.html">
            <img src="view/images/umbrella.png" width="200px" height="50px" alt="">
        </a>

        <!-- Menu opciones -->
        <div class="collapse navbar-collapse justify-content-lg-center" id="navbarOptions">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link text-danger" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="historial.html">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="citaVacunacion.html">Solicita tu cita de Vacunacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar
                    <a class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#modalPerfil">Editar
                        Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#panelAdmin">Administrar</a>
                </li>
            </ul>
        </div>

        <!-- Login/registro -->
        <form class="d-flex m-0 align-items-center">
            <i class="fa fa-user-circle fa-lg" role="button" data-bs-toggle="dropdown"></i>
            <p id="nomUsu" data-bs-toggle="modal" data-bs-target="#loginModal" class="m-1 text-dark">Login</p>
            <ul class="dropdown-menu dropdown-menu-end ">
                <li><a id="ddLg" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar
                        sesion</a>
                </li>
                <li><a id="ddReg" class="dropdown-item" data-bs-toggle="modal"
                        data-bs-target="#register">Registrarse</a></li>
                <li><a id="ddLo" class="dropdown-item" style="display: none;" onclick="logout()">Log Out</a></li>
            </ul>
        </form>
    </div>
</nav>

<!--MODAL EDITAR PERFIL-->
<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalPerfil" aria-hidden="true" ng-controller="prueba">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="izquierda">

                    <div class="miPerfil">
                        <h2>Mi Perfil</h2>
                    </div>
                    <div class="inputs" ng-repeat="item in lista">
                        <input type="text" disabled class="inputEdit" id="nombre" placeholder="{{item.Tipo_vacuna}} ">
                        <input type="text" disabled class="inputEdit" id="apellido" placeholder="{{item.Num_Dosis}}">
                        <input type="text" disabled class="inputEdit" id="edad" placeholder="{{item.Fecha}}">
                    </div>

                    <div class="botones">
                        <button class="btnEditarPerfil" ng-click="habilitarEdit()">Editar Perfil</button>
                        <button class="btnConfirmar">Confirmar</button>
                    </div>

                </div>

                <div class="derecha">
                    <!-- imagen del usuario -->
                    <img class="ftPerfil" src="/view/images/fotoPerfil.jpg">

                    <div class="botonesFoto">
                        <input class="inputFile" type="file">
                        <button class="btnEnviar">Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal panel de admin -->
<div class="modal fade" id="panelAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="contenedor container">

                    <div class="col-10 col-md-6">
                        <!-- selecctor de centro -->
                        <select class="form-select campo" aria-label="Default select example" id="centros">
                            <option selected>Seleccione un centro</option>
                            <option value="1">A</option>
                            <option value="2">ornamentado</option>
                            <option value="3">arboleda arbolosa</option>
                        </select>

                        <!-- nombre y municipio -->
                        <small>Nombre del centro</small>
                        <input type="text" class="form-control campo" id="nombreCentro">
                        <small>municipio</small>
                        <input type="text" class="form-control campo" id="municipio">
                    </div>

                    <div class="col-10 col-lg-6">
                        <div class="contenedor container">
                            <!-- dias de vacunaccion -->
                            <div class="col-12 col-md-6">
                                <small>Dias de Vacunacion</small>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkLunes">
                                    <label class="form-check-label" for="flexCheckDefault1">Lunes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkMartes">
                                    <label class="form-check-label" for="flexCheckDefault2">Martes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkMiercoles">
                                    <label class="form-check-label" for="flexCheckDefault3">Miercoles</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkJueves">
                                    <label class="form-check-label" for="flexCheckDefault4">Jueves</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkViernes">
                                    <label class="form-check-label" for="flexCheckDefault5">Viernes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkSabado">
                                    <label class="form-check-label" for="flexCheckDefault6">Sabado</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDomingo">
                                    <label class="form-check-label" for="flexCheckDefault7">Domingo</label>
                                </div>
                            </div>

                            <!-- horario -->
                            <div class="col-12 col-md-6">
                                <small>Horario</small>
                                <p><small>apertura</small>
                                    <input type="time" id="appt" name="appt" min="00:00" max="00:00" required>
                                </p>
                                <p><small>Cierre</small>
                                    <input type="time" id="appt" name="appt" min="00:00" max="00:00" required>
                                </p>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</html>