.contenedorPrincipal{
    margin-top: 20px;
    height: 500px;
    background-color: white;
    display: flex;
    text-align: center;
    align-content: center;
}
.contenedor1{
    height: auto;
}
.contenedor2{
    height: auto;
}

.campo{
    margin: 20px;
}