.contenedorPrincipal {
  margin-top: 20px;
  height: auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}
.contenedor1 {
  display: flex;
  height: auto;
}
.contenedor2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: auto;
}

.coso{
    margin: 20px;
}
#menuPruebaId{
    position: fixed;
    width: 180px;
    height: 280px;
    border-style: solid;
    top: 20px;
    background-color: white;
}
.campo {
  margin: 20px;
}

.boton{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}