/*CSS DEL MENU*/

/*Zona del menu*/
.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 2px solid blue;
}

.li{
    padding: 1%;
}

.btnMenu{
    background-color: transparent;
    border: none;

    font-size: 18px;
    color: rgb(76, 76, 202);
}

.li:hover{
    background-color: blue;
    color: white;
}
.btnMenu:hover{
    color: white;
}
/*CSS DEL MENU FINAL*/

.fondoText{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 0.6%;
    margin-left: 20%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.foto{
    width: 375px;
    height: 300px;
    background-color: indigo;
}

.text{
    width: 40%;
}

.info{
    margin-top: 22%;
    margin-left: 7%;
    color: rgb(1, 1, 167);
    font-weight: bolder;
    font-size: 30px;
}

.info2{
    margin-left: 7%;
    color: rgb(15, 233, 233);
    font-size: 30px;
    font-weight: bolder;
}

.imagen2{
    width: 100%;
    height: 100%;
}