table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.seccionCentral{
    height: 400px;
}

td, th {
    border: 1px solid rgb(180, 178, 178);
    text-align: left;
    padding: 8px;
}

table th {
    text-align: center;
}

table td {
    text-align: center;
}

.miCuenta{
    height: 100px;
}

.nombre{
    margin-top: 35px;
    margin-left: 30px;
    border: 2px solid black;
}
.nombre::-webkit-input-placeholder {
    text-align: center;
}
.apellido{
    margin-top: 35px;
    margin-left: 30px;
    border: 2px solid black;
}
.apellido::-webkit-input-placeholder {
    text-align: center;
}
.tis{
    margin-top: 35px;
    margin-left: 30px;
    border: 2px solid black;
}
.tis::-webkit-input-placeholder {
    text-align: center;
}