table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.seccionCentral {
  height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: 400px;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(180, 178, 178);
  text-align: left;
  padding: 8px;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}

.miCuenta {
  height: auto;
  min-height: 100px;
}

.campoCuenta {
  margin-top: 35px;
  margin-left: 30px;
  border: 2px solid black;
}
.nombre::-webkit-input-placeholder {
  text-align: center;
}
.apellido::-webkit-input-placeholder {
  text-align: center;
}
.tis::-webkit-input-placeholder {
  text-align: center;
}
