.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.datoPaciente{
  margin: 10px;
  width: 80%;
}
.botonPerfil1{
  margin:20px;
}
.btnenviar{
  margin-top: 10px;
  width: 30%; 
}